* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.input-bar {
  height: 20vh;
  width: 100vw;
  background-color: #de4646de;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  box-shadow: 0 2px 2px -2px rgba(94, 94, 94, 0.2);
}
#search-input {
  width: 50%;
  height: 40%;
  border-radius: 50px;
  outline: none;
  border: none;
  text-align: center;
  font-style: italic;
}

.results {
  padding: 10px;
  margin-top: 13%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  height: 267px;
  width: 907px;
  margin: 28px;
  display: flex;
}

.image {
  width: 250px;
  height: 250px;
  background-color: #f5eeee;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  margin: 40px;
}

.content {
  margin: 10px;
  background-color: #f5eeee;
  height: 267px;
  width: 907px;
  flex: 2;
  border-radius: 12px;
  padding: 15px;
}

.content h1 {
  font-size: 24px;
  font-weight: 600;
}

a#news-link {
  background-color: #f33535;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.util-bold {
  font-weight: bold;
  margin-top: 15px;
  font-size: 14px;
}

.bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.empty-state {
  color: rgb(85, 81, 81);
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-bar {
    height: 15%;
    width: 100%;
    background-color: #de4646de;
    z-index: 3;
  }
  #search-input {
    width: 90%;
    height: 40%;
    border-radius: 80px;
    font-size: 12px;
  }

  .results {
    padding: 10px;
    margin-top: 13%;
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    height: 580px;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .image-div {
    z-index: 2;
    flex: 1;
    position: relative;
  }
  .image {
    width: 150px;
    height: 150px;
    background-color: #f5eeee;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    position: absolute;
    bottom: -80px;
    left: -110px;
  }
  .content {
    height: 20%;
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1;
  }

  .content h1 {
    font-size: 13px;
    font-weight: 600;
  }

  a#news-link {
    background-color: #f33535;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 10px;
    margin-top: 50px;
  }

  .util-bold {
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
  }

  .bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1.empty-state {
    color: rgb(85, 81, 81);
    margin-top: 15%;
    font-size: 18px;
    text-align: center;
  }
}
